.detbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Arial";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:"Arial";
font-size: 13pt;color:#375db0;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h2
{
font-family:"Arial";
font-size: 11pt;color:#4f87fd;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
img.de_D457E58A2E
{
margin-top: 0px; margin-right: 8px; margin-bottom: 8px; margin-left: 8px;}
span.de_23C19DE48C
{
	font-family: "Times New Roman";
	font-size: 11pt;
	color:#000000;
}
span.de_2B94C39861
{
	color:#0000ff;
	text-decoration:underline;
}
span.de_383B3D8D02
{
	font-family: "Times New Roman";
	font-size: 11pt;
	color:#000000;
	text-decoration:underline;
}
span.de_3C2A5A84F8
{
	font-family: "Times New Roman";
	font-size: 11pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_41FACAAE6A
{
	font-family: "Calibri";
	font-size: 16pt;
	color:#000000;
}
span.de_4240AE2C05
{
	font-family: "Calibri";
	font-size: 11pt;
	color:#000000;
	text-decoration:underline;
}
span.de_46BE6C215B
{
	font-family: "Times New Roman";
	font-size: 10pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_4AF4BF9DD6
{
	font-family: "Arial";
	font-size: 11pt;
	color:#000000;
}
span.de_4CD179DA38
{
	font-family: "Calibri";
	font-size: 11pt;
	color:#000000;
}
span.de_59A3B2E3FF
{
	font-family: "Times New Roman";
	font-size: 7pt;
	color:#000000;
}
span.de_669D8AB381
{
	font-family: "Symbol";
	font-size: 12pt;
	color:#000000;
}
span.de_67BC475A8E
{
	font-family: "Calibri";
	font-size: 10pt;
	color:#000000;
}
span.de_6AB5B45866
{
	font-family: "Times New Roman";
	font-size: 10pt;
	color:#0000ff;
	font-style:italic;
	text-decoration:underline;
}
span.de_6B7F0857AE
{
	font-family: "Calibri";
	font-size: 14pt;
	color:#000000;
}
span.de_6C2B69BD23
{
	font-family: "Calibri";
	font-size: 11pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_7D5A274B3F
{
	font-family: "Calibri";
	font-size: 11pt;
	color:#0000ff;
}
span.de_7EA41EC2FA
{
	font-size: 16pt;
}
span.de_7ECBECEBE5
{
	font-family: "Times New Roman";
	font-size: 12pt;
	color:#000000;
}
span.de_85070B0635
{
	font-family: "Times New Roman";
	font-size: 7pt;
	color:#000000;
	text-decoration:underline;
}
span.de_87C8AF169F
{
	font-family: "Calibri";
	font-size: 12pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_A09ED1E130
{
	font-family: "Times New Roman";
	font-size: 12pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_A1C954FB2E
{
	font-family: "Arial";
	font-size: 9pt;
	color:#a1a1a1;
}
span.de_B2D98C5D65
{
	font-family: "Calibri";
	font-size: 10pt;
	color:#000000;
	font-style:italic;
}
span.de_C0FD669A4F
{
	font-family: "Consolas";
	font-size: 9pt;
	color:#404040;
}
span.de_C40D65A6EB
{
	font-family: "Calibri";
	font-size: 12pt;
	color:#000000;
	font-style:italic;
}
span.de_CBF33CA685
{
	font-family: "Consolas";
	font-size: 11pt;
	color:#000000;
}
span.de_D305498EDE
{
	font-family: "Symbol";
	font-size: 11pt;
	color:#000000;
}
span.de_D412B7E636
{
	font-family: "Calibri";
	font-size: 10pt;
	color:#333333;
}
span.de_D455D5BF1A
{
	font-family: "Calibri";
	font-size: 10pt;
	color:#ff0000;
}
span.de_D68646C8A7
{
	font-family: "Courier New";
	font-size: 12pt;
	color:#000000;
}
span.de_D8BCB2AC4C
{
	font-family: "Calibri";
	font-size: 12pt;
	color:#000000;
}
span.de_EC8B4D5AF2
{
	font-family: "Times New Roman";
	font-size: 10pt;
	color:#000000;
}
span.de_FB20A633A4
{
	font-family: "Times New Roman";
	font-size: 9pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_FD31081CCA
{
	font-family: "Wingdings";
	font-size: 12pt;
	color:#000000;
}
.list-element {
	list-style-type: none;
}
.list-counter-0 > div > * {
	text-indent: 0px;}
.list-counter-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0, decimal) '.\00a0';
	counter-increment: list-counter-0;
}
.list-counter-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1 > div > * {
	text-indent: 0px;}
.list-counter-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1, decimal) '.\00a0';
	counter-increment: list-counter-1;
}
.list-counter-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2 > div > * {
	text-indent: 0px;}
.list-counter-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2, decimal) '.\00a0';
	counter-increment: list-counter-2;
}
.list-counter-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-3 > div > * {
	text-indent: 0px;}
.list-counter-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-3, decimal) '.\00a0';
	counter-increment: list-counter-3;
}
.list-counter-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-4 > div > * {
	text-indent: 0px;}
.list-counter-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-4, decimal) '.\00a0';
	counter-increment: list-counter-4;
}
.list-counter-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-5 > div > * {
	text-indent: 0px;}
.list-counter-5 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-5, decimal) '.\00a0';
	counter-increment: list-counter-5;
}
.list-counter-5 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-6 > div > * {
	text-indent: 0px;}
.list-counter-6 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-6, decimal) '.\00a0';
	counter-increment: list-counter-6;
}
.list-counter-6 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-7 > div > * {
	text-indent: 0px;}
.list-counter-7 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-7, disc) '\00a0';
	counter-increment: list-counter-7;
}
.list-counter-7 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-8 > div > * {
	text-indent: 0px;}
.list-counter-8 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-8, disc) '\00a0';
	counter-increment: list-counter-8;
}
.list-counter-8 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-9 > div > * {
	text-indent: 0px;}
.list-counter-9 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-9, disc) '\00a0';
	counter-increment: list-counter-9;
}
.list-counter-9 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-10 > div > * {
	text-indent: 0px;}
.list-counter-10 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-10, disc) '\00a0';
	counter-increment: list-counter-10;
}
.list-counter-10 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-11 > div > * {
	text-indent: 0px;}
.list-counter-11 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-11, disc) '\00a0';
	counter-increment: list-counter-11;
}
.list-counter-11 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
